<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" href="{{ "/assets/minions.png" | relative_url }}" type="image/png">

    <link rel="shortcut icon" href="/assets/rssicon.svg" type="image/x-icon">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} posts" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-3698471-23', 'auto');
      ga('send', 'pageview');
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const themeToggle = document.getElementById('theme-toggle');
        const body = document.body;
        const lightModeClass = 'light-mode';

        // Load saved theme from localStorage
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme === lightModeClass) {
          body.classList.add(lightModeClass);
        } else { /* Ensure dark mode is default if no preference is saved or it's explicitly dark */
          body.classList.remove(lightModeClass);
        }

        // Add check for themeToggle existence to prevent errors if element is not found
        if (themeToggle) {
          // Toggle theme on button click
          themeToggle.addEventListener('click', () => {
            if (body.classList.contains(lightModeClass)) {
              body.classList.remove(lightModeClass);
              localStorage.setItem('theme', 'dark-mode');
            } else {
              body.classList.add(lightModeClass);
              localStorage.setItem('theme', lightModeClass);
            }
          });
        }
      });
    </script>

</head>